body{
	border: 1px solid blue;
	font-size: 16px; /*1em*/
	margin: 0 auto; /* Centrar la caja*/
	max-width: 1024px;
}

form{
	float: right;
	margin-right: 20px;
	margin-top: -40px;
}

form input{ /* Todos los input dentr del form*/
	border-radius: 5px;
}

form input[type="button"]{
	
	color:white;
}

header{
	background: #B3D8EB;
}

header nav{
	background: #0E6CB0;
	border-radius: 5px;
	padding: 1px 0px 1px 0px;
	margin: 0 auto;
	width: 99%; 

}

header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
}

/* como es de un ID necesita un # */
#logo{
	margin-top: -150px;
}

#seccion01 article{
	/*border: 1px solid red;*/
	text-align: center;   /* uso el text align en lugar del margin auto, por que lo que quiere es centrar la caja no moverla*/
}

#seccion01 article img{
	border: 5px solid rgba(150,150,150,0.5);
	width: 98%;
	margin-top: 8px;
}

#seccion02 article{
	/*hay que hacer que la pantalla se divida entre 3*/
	display: inline-block;
	vertical-align: top;
	width: 32.8%
}

#seccion02 article input{
	background: white;
	border-radius: 5px; 
	color: blue;
	margin-left: 35%;
	padding: 5px 12px;
}

/* Puedo agrupar elementos en comun*/
.otraSeccion,.unaSeccion{
	font-weight: bold;
}

.otraSeccion{
	font-size: 2.5em;
	font-family: 'Ubuntu',sans-serif;
	/*font-weight: bold; */
}

.unaSeccion{
	font-size: 4.5em;
	/*font-weight: bold;*/ /*negritas*/
	font-family: 'Roboto',sans-serif;
}












