body{
	font-size: 16px;  /*1em*/
	max-width: 1024px;
	margin: 0 auto;  /*Centrar */
	border: 1px solid green;
}

header nav ul{
	background: orange;
	border-radius: 5px;
	padding: 10px;

}
header nav ul li{
	color: white;
	margin-top: 3px;
	display: inline-block;
	padding-right: 25px;
}

#logo{
	margin-left: 10px;
}

#art01{ 
	border: 1px solid green;
	margin-left: 20px;
}


#art02,#art22{
	margin-top: 20px;
}

#art02{
	border: 1px solid green;
	display: inline-block;
	margin-left: 20px;
	width: 32%;
}

#art22{
	border: 1px solid red;
	display: inline-block;
	vertical-align:top;
	width: 60%;

}

#art03,#art04,#art05{
	border-radius: 15px;
	background: #F8F8F8 ;
}


/*publicidad*/
#art03{
	border: 1px solid gray;
	margin: 0 auto;
	padding-bottom: 11px;
	text-align: center;
}

/* Buscador*/
#art04{
	border: 1px solid gray;
	margin: 0 auto;
	/*margin-top: 20px;*/
	/*padding-top: 15px;*/
	padding-bottom: 15px;
	text-align: center;
	margin-top: 20px;
}

#art04 input{
	border-radius: 10px;
	border: 1px solid gray;
	padding: 0px 15px 0px 15px;

}

/*Categorias*/
#art05{
	border: 1px solid gray;
	margin-top: 20px;
}


#megart1{
	/*border: 1px solid gray;*/
	display: inline-block;
	width: 63%;
}

#megart2{
	/*border:1px solid gray;*/
	display: inline-block;
	margin-left:10px;
	vertical-align: top;
	width: 30.5%;
}

.BuscadorMargen{
	border-radius: 15px;
	border: 1px solid gray;
	padding: 6px;

}
.Encabezados{
	background: orange;
	border-radius: 15px;
	color: white;
	font-weight: bold;
	padding: 10px 117.5px;
	display: block;
}

.Fecha{

	background: #F8F8F8;
	border-radius: 10px;
	border: 1px solid gray;
	display: block;
	padding: 5px 0px 5px 0px;
	padding-left: 5px;

}

.Titulo{
	font-size: 2em;
}
