body{
	font-size: 16px;  /*1em*/
	max-width: 1024px;
	margin: 0 auto;  /*Centrar */
}

header{
	background: #265D8E;
	text-align: center;
}

header nav ul{
	background: #ECECEE;
	text-align: right;
	margin-bottom: 0px;
}

header nav ul li{
	display: inline-block;
}

section{
	background: #ECECEE;
}

#Izquierda,#Derecha{
	margin: 10px 5px;
}

#Izquierda{
	width: 227px;
	display: inline-block;
	vertical-align: top;
}

#Derecha{
	border-radius: 5px;
	width: 75%;
	display: inline-block;
	background: white;
	padding-top: 15px;
}

#Progress,#Links{
	padding-right: 20px;
	vertical-align: top;
}

#Links{
	background: #20507B;
	color: white;
}

#Links ul{
	list-style: none;
}

#Progress{
	margin-top: 5px;
	border: 1px solid #E2A6A4;
}

#Prog,#Prog2{
	display:block;
	padding-right: 20px;
	width: 100%;
}

#Prog{
	text-align: center;
	background:#356B98;
}

#Prog2{
	background:white;
}

#Prog2 img{
	vertical-align: middle;
	width:99%;
	margin-top: 10px;
	margin-left: 7px;
}

#Simple,#Panels,#Usuarios{
	margin-top: 5px;
}

#Simple{;
	text-align: center;
	margin-bottom: 4px;

}
 
#Simple1,#Simple2,#Simple3,#Simple4{
	border-radius: 8px;
	color:white;
	width: 17%;
	display:inline-block;
	text-align: center;
	padding: 5px 26px 10px 26px;
}

#Simple1{
	background:#23A72B;
}

#Simple2{
	background:#216EA7;
}

#Simple3{
	background:#7B25A8;
}

#Simple4{
	background:#A41C1F;
}

#Panels{
	text-align: center;
	display: block;	
}

#Usuarios{
	vertical-align: top;
}

.Barra{
	font-size: 1.1em;
	color: gray;
	margin-left: 12px;
}

.font{
	margin-left: 15px;
	color:gray;
}

.User{
	background:#4C6DAC;
	display: inline-block;
	text-align: center;
	padding: 15px 20px;
	width: 18%;
	margin-left: 7px;
	color: white;
	font-size: 1.3em;
	
}

.User img{
	width: 100%;
}

.User input{
	background: #86AAC7;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
}

.Progress{
	background:#356B98;
	color:white;
}

.Progress img{
	float: left;
}

